.container {
    position: relative; 
    padding: 10px; 
    margin: 5px; 
}

.title {
    text-align: center; 
    position: relative;
    color: #c21532;  
}

ul {
    list-style-type: none;
    font-family: 'Merriweather', serif;
}

li {
    padding-top: 0.8em; 
    padding-bottom: 0.8em; 
    color: #6b0db8;
}

p {
    font-size: 25px; 
    color: #bd0221; 
    padding-left: 14em;  
    
}

.image {
    width: 500px; 
    padding: 50px; 
    display: block; 
    margin-left: auto; 
}

.costSentence {
    padding-left: 15em; 
}

.costSentence2 {
    padding-left: 17.1em; 
}

.costSentence3 {
    padding-left: 3em; 
}